@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-smoothing: antialiased;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  @apply scroll-smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #009BDB;
}

::-webkit-scrollbar-thumb {
    background: #D0E6F7;
}

::-webkit-scrollbar-thumb:hover {
    background: #C2DFF4;
}

.imgHover:hover {
  transform: scale(1.5);
  transition: ease-in-out 0.3s;
}