@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-smoothing: antialiased;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  @apply scroll-smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #009BDB;
}

::-webkit-scrollbar-thumb {
    background: #D0E6F7;
}

::-webkit-scrollbar-thumb:hover {
    background: #C2DFF4;
}

.imgHover:hover {
  transform: scale(1.5);
  transition: ease-in-out 0.3s;
}

/* Residencial images */
.desktopImg {
  display: block;
}

.desktopImgSm {
  display: none;
}

@media(max-width: 768px) {
  .desktopImg {
    display: none;
  }
  .desktopImgSm {
    display: block;
  }
}

/* Slider Testimonials */
.desktop {
  display: block;
}

.smartphone {
  display: none;
}

@media(max-width:768px) {
  .desktop {
    display: none;
  }
  
  .smartphone {
    display: block;
  }
}

.WhatsApp {
  position:fixed;
  width:40px;
  height:40px;
  bottom:20px;
  right:30px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:28px;
  box-shadow: 1px 1px 2px #888;
  z-index:1000;
}